###############################################################################

display splash
default slax
prompt 1
timeout 20

label slax
kernel vmlinuz
append max_loop=255 initrd=initrd.gz init=linuxrc livecd_subdir=/ load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=7777 root=/dev/ram0 rw

###############################################################################
