PROMPT 1
TIMEOUT 40
DEFAULT linux

LABEL linux
KERNEL /boot/vmlinuz
APPEND vga=769 max_loop=255 initrd=/boot/initrd.gz init=linuxrc load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=4444 root=/dev/ram0 rw

LABEL memtest86
KERNEL /boot/memtest86p
